/*
Lankatime CSS
https://github.com/smelror/lankatime
*/

body {
	background: url("sri-lanka-2083515_1920.jpg") no-repeat center center fixed; /* Background image: https://pixabay.com/en/users/Akl0406-4547012/ */ 
	background-size: cover;
	padding: 0;
	margin: 0;
}

.hero {
    padding: 2em 2em;
    text-align: center;
    margin-top: 1em;
    transform: skewY(-2deg);
    border-bottom: .3em #ffbf24 solid;
    border-top: .3em #ffbf24 solid;
    box-shadow: #333 3px 3px 9px 1px;
 }
	.hero h1 { 
		transform: skewY(2deg);
		font-family: 'Poiret One', cursive;
		font-size: 4em;
		margin: 0;
		text-transform: uppercase;
	    text-shadow: 4px 2px 0px #3e3e3e;
    	color: #fefefe;
	}
	.hero p.tagline { transform: skewY(2deg); }
.container { width: 60em; margin: 0 auto; padding: 2em; }

/* Rounded */
.rounded { border-radius: 5px; }

/* Background colours */
.bkg-white { background: rgba(255, 255, 255, 0.65); }
.bkg-lanka { background: linear-gradient(70deg, #00524d 0%,#ec7500 38%,#8e0d37 100%); }